/* @import url("https://fonts.googleapis.com/css2?family=Righteous&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --font-sans: "Saira", sans-serif;
    --font-serif: "Righteous", cursive;
}

.font-sans {
    font-family: var(--font-sans);
}

.font-serif {
    font-family: var(--font-serif);
} */