:root {
  --customBlue: "#04016C";
  --customPurple: "#4A16BD";
}

.hero {
  background: linear-gradient(
    45deg,
    rgba(74, 22, 189, 0.8) 0%,
    rgba(4, 1, 108, 0.8) 100%
  );
}

.glow-circle {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  left: -50px;
  top: 50px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.6) 0%,
    /* Softer white in the center */ rgba(255, 255, 255, 0.3) 40%,
    /* Smooth transition */ rgba(255, 255, 255, 0) 80%
      /* Fully transparent edge */
  );
  box-shadow: 0 3px 30px rgba(128, 128, 128, 0.5); /* Subtle shadow */
  z-index: -1;
}

.brands {
  background: rgb(92, 7, 198);
  background: linear-gradient(
    0deg,
    rgba(92, 7, 198, 1) 0%,
    rgba(46, 7, 199, 1) 100%
  );
}

.our-courses {
  background: rgb(115, 159, 232);
  background: linear-gradient(
    45deg,
    rgba(115, 159, 232, 1) 34%,
    rgba(79, 24, 202, 0.958420868347339) 100%
  );
}

.light-blue {
  background: rgb(217, 236, 255);
  background: linear-gradient(
    0deg,
    rgba(217, 236, 255, 1) 0%,
    rgba(217, 236, 255, 0.7399334733893557) 100%
  );
}

.purple-pink {
  background: rgb(25,1,248);
background: linear-gradient(90deg, rgba(25,1,248,0.711922268907563) 45%, rgba(228,65,255,1) 100%);
}
